body {
font-family: skolar-sans-latin, sans-serif;
}

.header {
  background: linear-gradient(90deg, #93c6d2, #82bbc9);
  border-bottom: 2px solid #70a0ae;
  height: 75px;
}

/*---------- card styling --------- */

.card-header--top {
  height: 40px;
  background-color: #dac76d;
  border-bottom: 3px solid #c9b764;
}

.town-text {
  font-style: normal;
  font-weight: 300;
}

.navigation-text {
  font-style: normal;
  font-weight: 300;
}
