body {
font-family: skolar-sans-latin, sans-serif;
background-color: #efefef;
}

.card {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.text-color {
  color: #42525f;
  letter-spacing: .75px;
}

.header {
  background: linear-gradient(180deg, #93afd2, #839ec9);
  border-bottom: 2px solid #708aae;
  height: 75px;
}

.mt-6 {
  margin-top: 45px;
}

.border-t {
  border-top: 1px solid #ccc;
}

/*---------- card styling --------- */

.card-header {
  height: 45px;
  background-color: #dac76d;
  border-bottom: 3px solid #c9b764;
  padding: 0px;
}

.no-height{
  height: 0px;
  }


.town-text {
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  padding: 5px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #999;
}

.navigation {
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  color: #42525f;



  transition: .2s;
}

.navigation:hover, .navigation:active {
  font-style: normal;
  font-weight: 500;
  text-decoration: none;

}

.card-header .col-3 {
  border-left: 2px solid  #c9b764;
  background-color: #b7a65a;
}

.card-header .row {
  height: 100%;
}

.navigation img {
  width: 25px;
  position: relative;
  top: 0px;
  margin-right: 5px;
}

.card-img-top {
  border-radius: 0;
}

.swell-text {
  font-size: 65px;
  font-weight: 700;
}

.swell-text img {
  width: 40px;
  position: relative;
  top: -13px;
  margin-left: 5px;
}

.swell-sub-text {
  font-weight: 300;
  position: relative;
  top: -10px;
  font-size: 14px;
}

.swell-sub-text span {
  font-weight: 300;
  font-style: italic;
}

.wind-direction-text {
  font-weight: 700;
  font-size: 25px;
}

.wind-direction-text img {
  width: 25px;
  position: relative;
  top: -2px;
  margin-left: 2px;
}

.wind-direction-sub-text {
  font-weight: 300;
  font-size: 8px;
}

.wind-speed-text {
  font-weight: 700;
  font-size: 25px;
}

.wind-speed-text img {
  width: 25px;
  position: relative;
  top: -2px;
  margin-left: 2px;
}

.wind-speed-sub-text {
  font-weight: 300;
  font-size: 8px;
}

.wind-speed-sub-text span {
  font-weight: 300;
  font-style: italic;
}

.swell-period-text {
  font-weight: 700;
  font-size: 25px;
}

.swell-period-text img {
  width: 25px;
  position: relative;
  top: -2px;
  margin-left: 2px;
}

.swell-period-sub-text {
  font-weight: 300;
  font-size: 8px;
}

.swell-period-sub-text span {
  font-weight: 300;
  font-style: italic;
}






@media only screen and (max-width:700px) {
  .town-text {
    font-size: 12px;

  }
}
